h1, h2{
    color: #0000ff;
}

a[href="about.html"],
a[href="labs.html"] {
    text-decoration: none;
}

a[href="about.html"]:hover,
a[href="labs.html"]:hover {
  background-color: #ffff00; text-decoration: none;
}

.syllabus{
    font-family: Arial, Helvetica, sans-serif;
}

.schedule{
    font-family: Arial, Helvetica, sans-serif;
}

