body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D4EBF8;
    padding: 25px;
    border: 30px solid #E38E49;
    border-radius: 30px;
}

h1{color: #0A3981}

.content{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #D4EBF8;
    padding: 50px 70px;
    border-radius: 30px;
}

.p{
    color: #E38E49;
    font-weight: bold;
}

.ppp{
    color: #000000;
    max-width: 1000px;
}

.images{
    display: grid;
    gap: 10px;
    margin-bottom: 40px;
    grid-template-columns: 1fr 1fr;
}

.images img{
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
}

.topleft{
    grid-column: 1;
    grid-row: 1;
}

.topright {
    grid-column: 2;
    grid-row: 1;
}

.bottomleft{
    grid-column: 1;
    grid-row: 2;
}

.bottomright{
    grid-column: 2;
    grid-row: 2;
}