body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D4EBF8;
    padding: 25px;
    border: 30px solid #E38E49;
    border-radius: 30px;
}

h1{color: #0A3981;
}

.content{
    background-color: #D4EBF8;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    padding: 1% 10%;
}

.p{
    color: #E38E49;
    font-weight: bold;
}

.ppp{
    color: #000000;
    max-width: 1000px;
}

.images{
    display: flex;
    flex-wrap: wrap;
}

.images div{
    flex: 1;    
}

img{
    width: 100%;
    min-width: 250px;
}

.slideAndFlip{animation: slideAndFlip 5s ease-in;
    transform-origin: center center;}

@keyframes slideAndFlip{
    0%{transform: translateY(-400px);}
    30% {transform: translateY(0);}
    60% {transform: translateY(0) rotateY(1080deg);}
    80% {transform: translateY(0) rotateY(1080deg) scale(1.5);}
    100% {transform: translateY(0) rotateY(1080deg) scale(1);}
}

